<%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
 
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" class="image-container" >
    <div class="item active image-container">
      <img src="<%= image_url "/assets/#{@first_file}"%>"  class="carousel-image image">
      </img>
    </div>

    <%- @urls.each do |file| %>
      <div class="item image-container">
        <img src="<%= image_url "/assets/#{file}"%>"  class="carousel-image image">
        </img>
      </div>
    <%- end %>

    <%- @files.each do |file| %>
      <div class="item image-container">
        <img src="<%= image_url "/assets/#{file}"%>"  class="carousel-image image">
        </img>
      </div>
    <%- end %>
  </div>
</div>

